
html {
  margin: 0;
  padding: 0;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: #51E2F5;
}
.header {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 3rem;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.5rem;
}

.search-button {
  border-radius: .5rem;
  background-color: #9df9ef;
  padding: .5rem;
  opacity: 0.6;
  transition: 0.3s;
  margin: .5rem;
}

.search-button:hover {
  opacity: 20;
}

.search-button:active {
  transform: translateY(4px);
}


.submit-button {
  border-radius: .5rem;
  padding: 1rem;
  grid-column: 1/-1;  
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  opacity: 0.6;
  transition: 0.3s;
}
.submit-button:hover {
  background-color: #9DF9EF;
  opacity: 1;
}
.submit-button:active {
  transform: translateY(4px);
}

.inputs {
  border-radius: 15px;
  text-align: center;
  padding: 10px;
  margin: 5px;
}

.inputs:hover {
  border: 2px solid #51E2F5;
}

.add-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}
.bags {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.bag-wrapper {
  border: 2px solid black;
  padding: 15px;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 #A28089;
  transition: 0.3s;
  background-color: #ffa8b6;
}

.bag-wrapper:hover {
  box-shadow: 0 8px 16px 0 black;
}

.delete-button {
  background-color: #a28089;
  border-radius: 5px;
  padding: 8px;
  margin: 5px 20px 5px 5px;
  opacity: 0.6;
  transition: 0.3s;
}

.delete-button:hover {
  opacity: 1;
}

.delete-button:active {
  transform: translateY(4px);
}

.add-bag-section {
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 black;
  transition: 0.3s;
  margin: 15px;
  padding: 25px;
  background-color: #ffa8B6;
}

.add-bag-section:hover {
  box-shadow: 0 8px 16px 0 black;
}



.edit-button {
  border-radius: 5px;
  background-color: #51e2f5;
  padding: 8px;
  opacity: 0.6;
  transition: 0.3s;
}

.edit-button:hover {
  opacity: 1;
}

.edit-button:active {
  transform: translateY(4px);
}

.close-button {
  border-radius: 5px;
  background-color: #51e2f5;
  padding: 8px;
  opacity: 0.6;
  transition: 0.3s;
}

.close-button:hover {
  opacity: 1;
}

.close-button:active {
  transform: translateY(4px);
}

.bag-title {
  text-align: center;
  font-family: 'Oleo Script Swash Caps', cursive;
}

.bag-sizes {
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  font-size: large;
  background-color: #FFF5EE;
}


.input-bar {
  padding: 8px;
  border: 2px solid black;
  border-radius: 15px;
}