
html {
  margin: 0;
  padding: 0;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: #51E2F5;
}
.header {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 3rem;
}
.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.5rem;
}
h3{
  display: flex;
  justify-content: center;
}
.search-button {
  border-radius: .5rem;
  background-color: #ffa8b6;
  padding: .5rem;
  margin: .5rem;
}
.bags {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.submit-button {
  border-radius: .5rem;
  padding: 1rem;
  grid-column: 1/-1;  
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.submit-button:hover {
  background-color: #9DF9EF;
  opacity: 1;
}
.submit-button:active {
  transform: translateY(4px);
}
.inputs {
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
  margin: .5rem;
}
.inputs:hover {
  border: 2px solid #51E2F5;
}
.add-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: .2rem;
}
.bag-wrapper {
  border: .3rem solid black;
  padding: 1rem;
  margin: .9rem;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 1rem 0 #A28089;
  transition: 0.3s;
  background-color: #ffa8b6;
}
.bag-wrapper:hover {
  box-shadow: 1rem 1rem 1rem 0 rgb(5, 2, 2);
}
.delete-button {
  background-color: #a28089;
  border-radius: .5rem;
  padding: 1rem;
  margin: .5rem 1rem .5rem .5rem;
}
.edit-button {
  background-color: #51E2F5;
  border-radius: .5rem;
  padding: 1rem;
  margin: .5rem 1rem .5rem .5rem;
}
.add-bag-section {
  border: .3rem solid black;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 1rem 0 #A28089;
  transition: 0.3s;
  margin: 1rem;
  padding: 2rem;
  background-color: #ffa8B6;
}
.add-bag-section:hover {
  box-shadow: 1rem 1rem 1rem 0 black;
}
.close-button {
  border-radius: 5px;
  background-color: #51e2f5;
  padding: 8px;
  opacity: 0.6;
  transition: 0.3s;
}
.close-button:hover {
  opacity: 1;
}
.close-button:active {
  transform: translateY(4px);
}
.bag-title {
  text-align: center;
  font-family: 'Oleo Script Swash Caps', cursive;
}
.bag-sizes {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
  margin: 3rem;
  font-size: large;
  background-color: #FFF5EE;
}
.input-bar {
  padding: .5rem;
  border:  solid black;
  border-radius: 1rem;
}